*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container1{
    background-color: aliceblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container2{
    background-color: royalblue;
    height: 15rem;
    width: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}