* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightpink;
  margin-top: 60px;
}
body h2 {
  margin-bottom: 2rem;
  color: rgb(7, 7, 62);
}
.accordian {
  max-width: 45rem;
  margin-bottom: 1.6rem;
  background-color: linen;
  padding: 10px 18px;
}
.question {
  margin-bottom: 1.3rem;
  display: flex;
  justify-content: space-around;
  margin-right: 0.5rem;
  cursor: pointer;
}
.answer {
  padding: 0 1.4rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s;
}
.icon{
    transition: transform 0.2s;
}

/*  ***  */
.icon.active {
  transform: rotate(-180deg);
}
.answer.active {
  max-height: fit-content;
}
